# Python
*.pyc
*.pyo
__pycache__/
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Firebase credentials (add your sensitive files here)
firebase_details.json

# Streamlit
/.streamlit/

# IDEs and editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

